

#note_body,
#course_description {
  width: 850px;
  height: 500px;
  font-size: 1.5em;
  padding: 5px;
}

.note_body {
  width: 850px;
  font-size: 1.25em;
  padding: 10px;
}

.note_body h1 {
  font-size: 1.5em;
  line-height: 1.5em;
}