body {
  background-color: #333333;
  color: #DDDDDD;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #61CE3C;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
  &:visited {
    color: #61CE3C;
  }
  &:hover {
    color: #333333;
    background-color: #61CE3C;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#notice {
  background: none repeat scroll 0 0 #8DA6CE;
  border-radius: 10px 10px 10px 10px;
  color: black;
  float: right;
  margin-right: 25px;
  min-width: 150px;
  padding: 10px;
  text-align: center;
}

input {
  background: none repeat scroll 0 0 #000000;
  border: medium solid #EEEEEE;
  border-radius: 5px 5px 5px 5px;
  color: #FF7F00;
  padding: 5px;
}

button {
  background: none repeat scroll 0 0 #000000;
  border: thin solid cyan;
  border-radius: 5px 5px 5px 5px;
  color: #8DA6CE;
  font-size: 1.1em;
  padding: 3px;
}

input[type="submit"] {
  color: #D7FF3C;
  font-size: 1.5em;
  padding: 10px;
}